<li class="sg-nav-atoms">
    <a class="sg-acc-handle">Atoms</a>
    <ol class="sg-acc-panel">
        <li class="sg-nav-global">
            <a class="sg-acc-handle">Global</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.global.colors" class="sg-pop"}}Colors{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.global.fonts" class="sg-pop"}}Fonts{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.global.animations" class="sg-pop"}}Animations{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.global.visibility" class="sg-pop"}}Visibility{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.global.index" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-text">
            <a class="sg-acc-handle">Text</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.text.headings" class="sg-pop"}}Headings{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.paragraph" class="sg-pop"}}Paragraph{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.blockquote" class="sg-pop"}}Blockquote{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.inline-elements" class="sg-pop"}}Inline Elements{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.time" class="sg-pop"}}Time{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.preformatted-text" class="sg-pop"}}Preformatted Text{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text.hr" class="sg-pop"}}Hr{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.text" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-lists">
            <a class="sg-acc-handle">Lists</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.lists.unordered" class="sg-pop"}}Unordered{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.lists.ordered" class="sg-pop"}}Ordered{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.lists.definition" class="sg-pop"}}Definition{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.lists" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-images">
            <a class="sg-acc-handle">Images</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.images.logo" class="sg-pop"}}Logo{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.landscape4x3" class="sg-pop"}}Landscape 4x3{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.landscape16x9" class="sg-pop"}}Landscape 16x9{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.square" class="sg-pop"}}Square{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.avatar" class="sg-pop"}}Avatar{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.icons" class="sg-pop"}}Icons{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.loading-icon" class="sg-pop"}}Loading Icon{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images.favicon" class="sg-pop"}}Favicon{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.images" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-forms">
            <a class="sg-acc-handle">Forms</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.forms.text-fields" class="sg-pop"}}Text Fields{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.forms.select-menu" class="sg-pop"}}Select Menu{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.forms.checkbox" class="sg-pop"}}Checkbox{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.forms.radio-buttons" class="sg-pop"}}Radio Buttons{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.forms.html5-inputs" class="sg-pop"}}HTML5 Inputs{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.forms" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-buttons">
            <a class="sg-acc-handle">Buttons</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.buttons.buttons" class="sg-pop"}}Buttons{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.buttons" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-tables">
            <a class="sg-acc-handle">Tables</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "atoms.tables.table" class="sg-pop"}}Table{{/link-to}}
                </li>
                <li>
                    {{#link-to "atoms.tables" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
    </ol>
</li>
<li class="sg-nav-molecules">
    <a class="sg-acc-handle">Molecules</a>
    <ol class="sg-acc-panel">
        <li class="sg-nav-text">
            <a class="sg-acc-handle">Text</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.text.byline" class="sg-pop"}}Byline{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.text.address" class="sg-pop"}}Address{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.text.heading-group" class="sg-pop"}}Heading Group{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.text.blockquote-with-citation" class="sg-pop"}}Blockquote With Citation{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.text.intro-text" class="sg-pop"}}Intro Text{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.text" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-layout">
            <a class="sg-acc-handle">Layout</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.layout.one-up" class="sg-pop"}}One Up{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.layout.two-up" class="sg-pop"}}Two Up{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.layout.three-up" class="sg-pop"}}Three Up{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.layout.four-up" class="sg-pop"}}Four Up{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.layout" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-blocks">
            <a class="sg-acc-handle">Blocks</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.blocks.media" class="sg-pop"}}Media{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks.headline-byline" class="sg-pop"}}Headline Byline{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks.hero" class="sg-pop"}}Hero{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks.thumb-headline" class="sg-pop"}}Thumb Headline{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks.headline" class="sg-pop"}}Headline{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks.inset" class="sg-pop"}}Inset{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.blocks" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-media">
            <a class="sg-acc-handle">Media</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.media.figure-with-caption" class="sg-pop"}}Figure With Caption{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.media" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-forms">
            <a class="sg-acc-handle">Forms</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.forms.search" class="sg-pop"}}Search{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.forms.comment-form" class="sg-pop"}}Comment Form{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.forms.newsletter" class="sg-pop"}}Newsletter{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.forms" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-navigation">
            <a class="sg-acc-handle">Navigation</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.navigation.primary" class="sg-pop"}}Primary{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.navigation.footer" class="sg-pop"}}Footer{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.navigation.breadcrumbs" class="sg-pop"}}Breadcrumbs{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.navigation.pagination" class="sg-pop"}}Pagination{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.navigation.tabs" class="sg-pop"}}Tabs{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.navigation" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-components">
            <a class="sg-acc-handle">Components</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.components.social-share" class="sg-pop"}}Social Share{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.components.accordion" class="sg-pop"}}Accordion{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.components.single-comment" class="sg-pop"}}Single Comment{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.components" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-messaging">
            <a class="sg-acc-handle">Messaging</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "molecules.messaging.alert" class="sg-pop"}}Alert{{/link-to}}
                </li>
                <li>
                    {{#link-to "molecules.messaging" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
    </ol>
</li>
<li class="sg-nav-organisms">
    <a class="sg-acc-handle">Organisms</a>
    <ol class="sg-acc-panel">
        <li class="sg-nav-global">
            <a class="sg-acc-handle">Global</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "organisms.global.header" class="sg-pop"}}Header{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.global.footer" class="sg-pop"}}Footer{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.global" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-global">
            <a class="sg-acc-handle">Article</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "organisms.article.full" class="sg-pop"}}Full{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.article.body" class="sg-pop"}}Body{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.article" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-global">
            <a class="sg-acc-handle">Comment</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "organisms.comments.thread" class="sg-pop"}}Thread{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.comments" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
        <li class="sg-nav-global">
            <a class="sg-acc-handle">Section</a>
            <ol class="sg-acc-panel sg-sub-nav">
                <li>
                    {{#link-to "organisms.sections.latest-posts" class="sg-pop"}}Latest Posts{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.sections.related-posts" class="sg-pop"}}Related Posts{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.sections.recent-tweets" class="sg-pop"}}Latest Tweets{{/link-to}}
                </li>
                <li>
                    {{#link-to "organisms.sections" class="sg-pop"}}View All{{/link-to}}
                </li>
            </ol>
        </li>
    </ol>
</li>
<li class="sg-nav-templates">
    <a class="sg-acc-handle">Templates</a>
    <ol class="sg-acc-panel">
        <li class="sg-nav-global">
            {{#link-to "templates.homepage" class="sg-pop"}}Homepage{{/link-to}}
        </li>
        <li class="sg-nav-global">
            {{#link-to "templates.blog" class="sg-pop"}}Blog{{/link-to}}
        </li>
        <li class="sg-nav-global">
            {{#link-to "templates.article" class="sg-pop"}}Article{{/link-to}}
        </li>
    </ol>
</li>
<li class="sg-nav-templates">
    <a class="sg-acc-handle">Pages</a>
    <ol class="sg-acc-panel">
        <li class="sg-nav-global">
            {{#link-to "pages.homepage" class="sg-pop"}}Homepage{{/link-to}}
        </li>
        <li class="sg-nav-global">
            {{#link-to "pages.homepage-emergency" class="sg-pop"}}Homepage Emergency{{/link-to}}
        </li>
        <li class="sg-nav-global">
            {{#link-to "pages.blog" class="sg-pop"}}Blog{{/link-to}}
        </li>
        <li class="sg-nav-global">
            {{#link-to "pages.article" class="sg-pop"}}Article{{/link-to}}
        </li>
    </ol>
</li>
<li>
    {{#link-to "index" class="sg-pop"}}All{{/link-to}}
</li>
