<h2 class="sg-pattern-head">
    {{#link-to "molecules.forms.search" class="patternLink"}}Search{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/forms/search"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.forms.comment-form" class="patternLink"}}Comment Form{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/forms/comment-form"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.forms.newsletter" class="patternLink"}}Newsletter{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/forms/newsletter"}}
</div>
