<div class="block block-thumb">
    <div class="b-inner">
        <div class="b-thumb">
            {{partial "partials/atoms/images/square"}}
        </div>
        <div class="b-text">
            {{partial "partials/molecules/blocks/headline"}}
        </div>
    </div>
</div>
