<h2 class="sg-pattern-head">
    {{#link-to "atoms.global.colors" class="patternLink"}}Colors{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/global/colors"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.global.fonts" class="patternLink"}}Fonts{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/global/fonts"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.global.animations" class="patternLink"}}Animations{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/global/animations"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "atoms.global.visibility" class="patternLink"}}Visibility{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/global/visibility"}}
</div>
