<h2 class="sg-pattern-head">
    {{#link-to "molecules.components.social-share" class="patternLink"}}Social Share{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/components/social-share"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.components.accordion" class="patternLink"}}Accordion{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/components/accordion"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.components.single-comment" class="patternLink"}}Single Comment{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/components/single-comment"}}
</div>
