$tile-board-2-col {
    padding: 0;

    > li {
        list-style: none;
        margin-bottom: 1em;

        h3 {
            font-size: 1em;
        }

        + li {
            margin-top: 0;
        }

        li + li {
            margin-top: 0.5em;
        }
    }
}
