<h2 class="sg-pattern-head">
    {{#link-to "atoms.lists.unordered" class="patternLink"}}Unordered{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/lists/unordered"}}
</div>
<h2 class="sg-pattern-head">
    {{#link-to "atoms.lists.ordered" class="patternLink"}}Ordered{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/lists/ordered"}}
</div>
<h2 class="sg-pattern-head">
    {{#link-to "atoms.lists.definition" class="patternLink"}}Definition{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/atoms/lists/definition"}}
</div>
