<h2 class="sg-pattern-head">
    {{#link-to "organisms.global.header" class="patternLink"}}Header{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{organisms/global-header}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "organisms.global.header" class="patternLink"}}Footer{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{organisms/global-footer}}
</div>
