<h2 class="sg-pattern-head">
    {{#link-to "molecules.media.figure-with-caption" class="patternLink"}}Figure With Caption{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "molecules/media/figure-with-caption"}}
</div>
