/*------------------------------------*\
    $PATTERN LAB STYLES
\*------------------------------------*/
/**
 * NOTE: These styles are specific to Pattern Lab and should not be modified. 
 * Edit all project styles in /source/css/
 * 
 * Second note: Any important declarations are to prevent brand styles from overriding style guide 
 */
 
 
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables 
 * -----Font
 * -----Colors
 * -----Typography
 * -----Defaults
 * -----Breakpoints
 * MIXINS---------------------------------Sass mixins 
 * GLOBAL ELEMENTS------------------------Establish global styles
 * -----Main
 * -----Headings
 * -----Text-related elements (p, blockquote, lists)
 * -----Defaults
 * -----Breakpoints
 * STYLE GUIDE INTERFACE------------------CSS for the Pattern Lab Container.
 * -----Header
 * -----Navigation
 * -----Controls
 * -----Main Container
 * -----Viewport
 * -----Section Headers
 * -----Code View
 * -----Icon Fonts
 */

@import 'bower_components/nib';
@import 'variables';
@import 'mixins';
@import 'icomoon';
@import 'font-icons';

@import 'style-guide/sg-interface';
@import 'style-guide/sg-header';
@import 'style-guide/sg-viewport';
@import 'style-guide/sg-content';
