/* Pattern Lab icon fonts */
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sg-icon-search, .sg-icon-cog, .sg-icon-minus, .sg-icon-plus, .sg-icon-menu, .sg-icon-radio-checked, .sg-icon-radio-unchecked, .sg-icon-file, .sg-icon-link, .sg-icon-keyboard, .sg-icon-qrcode, .sg-icon-eye, .sg-checkbox {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sg-icon-search:before {
	content: "\e600";
	font-size: 85%;
}
.sg-icon-cog:before {
	content: "\e601";
}
.sg-icon-minus:before {
	content: "\e602";
}
.sg-icon-plus:before {
	content: "\e603";
}
.sg-icon-menu:before {
	content: "\e604";
}
.sg-icon-radio-checked:before, .sg-checkbox.active:before {
	content: "\e605";
}
.sg-icon-radio-unchecked:before, .sg-checkbox:before {
	content: "\e606";
}
.sg-icon-file:before {
	content: "\e607";
}
.sg-icon-link:before {
	content: "\e608";
}
.sg-icon-keyboard:before {
	content: "\e609";
}
.sg-icon-qrcode:before {
	content: "\e60a";
}
.sg-icon-eye:before {
	content: "\e60b";
}
