/*------------------------------------*\
    $PATTERN LAB VARIABLES 
\*------------------------------------*/

/*Fonts*/
$sg-font = "HelveticaNeue", "Helvetica", "Arial", sans-serif;

/* Style Guide Interface Colors */ 
$sg-primary = #222;
$sg-secondary = #808080;
$sg-tertiary = #ddd;
$sg-quaternary = #fff;
$sg-quinary = #999;
$sg-tint = rgba(255,255,255,0.05);
$sg-tint-2 = rgba(255,255,255,0.25);
$sg-tone = rgba(0,0,0,0.1);
$sg-tone-2 = rgba(0,0,0,0.3);

/* Typography */
$sg-font-size-norm = 100%;
$sg-font-size-sm = 70%;
$sg-font-size-large = 120%;

/* Defaults */
$sg-space = 1em;
$sg-doublespace = $sg-space*2;
$sg-pad = 1em;
$sg-pad-half = $sg-pad/2;

/* Dimensions */
$offset-top = 2em;

/* Breakpoints */
$sg-bp-small = 24em;
$sg-bp-small-2 = 30em;
$sg-bp-med = 48em;
$sg-bp-large = 72em;
$sg-bp-xl = 80em;

$animate-quick = 0.2s;
