<h2 class="sg-pattern-head">
    {{#link-to "molecules.messaging.alert" class="patternLink"}}Alert{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/messaging/alert"}}
</div>

