<h2 class="sg-pattern-head">
    {{#link-to "molecules.layout.one-up" class="patternLink"}}One Up{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/layout/one-up"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.layout.two-up" class="patternLink"}}Two Up{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/layout/two-up"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.layout.three-up" class="patternLink"}}Three Up{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/layout/three-up"}}
</div>

<h2 class="sg-pattern-head">
    {{#link-to "molecules.layout.four-up" class="patternLink"}}Four Up{{/link-to}}
</h2>
<div class="sg-pattern-body">
    {{partial "partials/molecules/layout/four-up"}}
</div>


